<%- include('partials/header.ejs') %>

<div class="content-wrapper">
    <div class="login-form">
        <h1 class="login-title">Create Account</h1><br>
        <label for="pfp-input"><img id="defaultPfp" src="assets/default_user.png"></label>
        <input type="file" id="pfp-input" name="pfp-upload" accept="image/png, image/jpeg, image/jpg">

        <input type="text" class="username" name="username" placeholder="Username">
        <input type="password" class="password" name="password" placeholder="Password">
        <input type="text" class="first" name="first" placeholder="First name">
        <input type="text" class="last" name="last" placeholder="Last name">
        <br><button class="login-btn" id="create-button">Create</button>

        <br>

        <a href="/"><p class="create">Login</p></a>
        <h3 class="message" id="server-message"></h3>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/tingle.min.js"></script>
<script src="/js/createAccount.js"></script>
<%- include('partials/footer.ejs') %>