<%- include('partials/header.ejs') %>

<div class="content-wrapper">
    <div class="login-form">
        <h1 class="login-title">Create Account W.I.P.</h1>

        <form method="POST">
            <input type="text" class="username" name="username" placeholder="Username"> <br>
            <input type="text" class="password" name="password" placeholder="Password"> <br>
            <button class="login-btn">Create</button>
        </form>

        <a href="/">
            <p class="create">Login</p>
        </a>
    </div>

</div>

  
<%- include('partials/footer.ejs') %>