<!-- This is a basic framework and does not represent the final product -->

<%- include('partials/header.ejs') %>

<div class="content-wrapper">
    <div class="login-form">
        <h1 class="login-title">Login to BingeHive W.I.P.</h1>

        <form method="POST">
            <input type="text" class="username" name="username" placeholder="Username"> <br>
            <input type="text" class="password" name="password" placeholder="Password"> <br>
          <button class="login-btn">Login</button>
        </form>

      <% if (typeof loginError != "undefined" && loginError) { %>
      <h3 class="error">Wrong credentials!</h3>
      <% } %>

        <a href="/create-account">
            <p class="create">Create Account</p>
        </a>
    </div>

</div>

<%- include('partials/footer.ejs') %>