<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<div class="container">
    <div class="banner">
        <img src="" alt="banner image" class="banner-img">
    </div>

    <div class="list-slide">
        <h4 class="row-title">My List</h4>
        <img src="" alt="list-item" class="cell">
    </div>

    <div class="trending-slide">
        <h4 class="row-title">Trending Now</h4>
        <img src="" alt="trending-item" class="cell">
    </div>

    <div class="genre-slide">
        <h4 class="row-title">Comedy</h4>
        <img src="" alt="genre-item" class="cell">
    </div>

</div>

<%- include('partials/footer.ejs') %>
