<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
  <div class="table-container">
  <table>
    <tr>
      <td colspan="3">Account<hr></td>
    </tr>
    <tr>
      <td>Membership</td>
      <td>Username:<br>Password:</td>
      <td><a href="">Change username</a><br><a href="">Change password</a></td>
    </tr>
    <tr>
      <td colspan="3"><hr></td>
    </tr>
    <tr>
      <td>Profiles</td>
      <td><img src="assets/default_user.png" width = "150" height = "100" alt="second"> Name</td>
      
    </tr>
    <tr>
      <td colspan="3"><hr></td>
    </tr>
    <tr>
      <td>Delete Account:</td>
      <td><button>Yes, I would like to delete my account</button></td>
    </tr>
  </table>
  </div>

  <script src="/js/script.js"></script>
<%- include('partials/footer.ejs') %>
