body, html{
  background-color: #141414;
  height: 100%;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  color: #FDCC00;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.username {
  margin: .6em;
  font-size: 2em;
}

.password {
  margin: .6em;
  font-size: 2em;
}

.first, .last {
  margin: .6em;
  font-size: 2em;
}

.login-btn {
  width: 200px;
  height: 45px;
  font-size: 2em;
  margin-top: .8em;
}

.login-title {
  font-size: 4em;
  margin: 0;
}

#create-account-pic {
  margin: .6em;
}

.create {
  font-size: 1.6em;
}

a {
  text-decoration: none;
  color: #FDCC00;
}

.error {
color:red;
font-size: 2em;
}

.message {
color:red;
font-size: 2em;
}