body {
  background-color: #141414;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.banner {
  height: 40em;
  position: relative;
  cursor: pointer;
}

.banner-info {
  position: absolute;
  top: 35%;
  left: 4%;
  max-width: 650px;
  min-width: 300px;
  min-height: 250px;
  width: auto;
  margin-right: 40%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.banner-title {
  font-size: 3em;
  margin: 0;
}

.banner-desc {
  font-size: 1.2em;
  max-width: 100%;
}

.slide {
  margin: 0 0 15px 0;
  height: 282px;
  position: relative;
  overflow: hidden;
  width: 300px;
  user-select: none;
}

.cell {
  height: 200px;
  width: 400px;
  padding: 0 2px;
  object-fit: cover;
}

.hover:hover{
  opacity: 100;
  transition: visibility 0s, opacity 0.2s linear;
}

.banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.row-title {
  padding-left: 15px;
  font-size: 1.8em;
  margin: 25px 0;
  color: #FDCC00;
}

.hover {
  display: flex;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 50%);
  cursor: pointer;
  user-select: none;
}

.hover-movie-title {
  margin: auto 0;
  padding: 40px;
  font-size: 1.5em;
}

.carousel {
  display: flex;
  transition: transform 1s ease;
}

.carousel-item {
  position: relative;
  flex: 0 0 0;
}

.carousel-button1 {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(-27%, -31%);
  width: 40px;
  height: 202px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.carousel-button2 {
  position: absolute;
  top: 50%;
  transform: translate(25%, -31%);
  width: 40px;
  height: 202px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.addBtn {
  width: 35px;
  margin-left: 10px;
  height: 35px;
  transform: translateY(8px);
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.subcategory-movies-wrapper {
  width: 100%;
}

.movie-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto 2% auto;
  width: 1660px;
}

.category-title {
    padding-left: 5%;
    font-size: 3em;
    margin: 40px;
    color: #FDCC00;
}

.movie-cell {
  height: 200px;
  width: 400px;
  margin: 10px;
  position: relative;
}

.movie {
  height: 200px;
  width: 400px;
}

.modal-title {
  color: #FDCC00;
  margin-left: 10px;
  font-size: 1.8em;
}

.modal-description {
  padding: 0 20px 0 20px;
  font-size: 1.3em;
}

.modal-content-wrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.modal-top {
  margin: 0 auto;
}

.modal-bottom {
  color: white;
}

.modal-list-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-lists {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

.add-to-list-btn {
  margin-right: 20px;
  height: 22px;
  width: 22px;
}

.modal-list-item {
  border: 2px #FDCC00 solid;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-list-item h2 {
  padding: 0 15px;
  margin: 8px 0;
}

.new-list-btn, .yes, .no {
  min-width: 13%;
  width: fit-content;
  font-size: 1.8em;
  margin: 18px auto 0 auto;
  padding: 5px;
  border-radius: 8px;
  background-color: #FDCC00;
  border: none;
  cursor: pointer;
}

#backBtn {
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 400px;
  padding: 0 2px;
  background-color: #2b2b2b;
  margin-right: 2px;
}

.list-name {
  text-align: center;
  margin: auto 0;
  font-size: 2.5em;
  color: white;
}

.carousel a {
  text-decoration: none;
}

@media screen and (max-width: 1680px) {
  .movie-row {
    grid-template-columns: repeat(3, 1fr);
    width: 1258px;
  }
}

@media screen and (max-width: 1250px) {
  .movie-row {
    grid-template-columns: repeat(2, 1fr);
    width: 840px;
  }
}

@media screen and (max-width: 960px) {
  .banner-title {
    font-size: 2.5em;
    margin: 0;
  }

  .banner-desc {
    font-size: 1em;
    max-width: 100%;
  }

}

@media screen and (max-width: 826px) {
  .movie-row {
    grid-template-columns: repeat(1, 1fr);
    width: 402px;
  }
}

@media screen and (max-width: 650px) {
  .banner-title {
    font-size: 2em;
    margin: 0;
  }

  .banner-desc {
    font-size: 1em;
    max-width: 100%;
  }

}