<div class="slide">
    <h4 class="row-title">My Lists</h4>
    <div class="carousel" id="list-carousel">
        <% for (const list of userLists) { %>
            <div class="carousel-item">
                <div class="list"><h2 class="list-name"><%= list.list_name %></h2></div>
            </div>
        <% } %>
    </div>

    <button class="carousel-button1 prev" id="b1">&#8249;</button>
    <button class="carousel-button2 next" id="b2">&#8250;</button>
</div>