<div id="nav-container">
    <nav>

        <div id="sandwich-dropdown">
            <img id="sandwich" onclick="dropdownEvent()" src="/assets/menu_sandwich.png" alt="menu-sandwich">

            <div class="dropdown-content">
                <div class="main-choices">
                    <h3 class="dropdown-choice" id="dropdown-genre" onclick="changeActive(this, <%= JSON.stringify(genres) %>)">GENRE</h3>
                    <h3 class="dropdown-choice" id="dropdown-type" onclick="changeActive(this, ['Movies', 'Television', 'Anime'])">TYPE</h3>
                    <h3 class="dropdown-choice" id="dropdown-lists" onclick="changeActive(this, ['TempList1', 'TempList2', 'TempList3'])">LISTS</h3>
                </div>

                <div id="sub-choices-dynamic">

                   <% for (let i = 0; i < genres.length; i++) {
                    if (i % 6 === 0) {

                        if (i > 0 && i % 6 === 0) { %>
                            </div>
                       <% } %>
                        <div class="sub-choices">
                            <h4 class="sub-choice" onclick="serverFunction(this)"><%= genres[i] %></h4>

                    <%} else { %>
                        <h4 class="sub-choice" onclick="serverFunction(this)"><%= genres[i] %></h4>
                   <% }%>

                <% } %>
                  
                </div>

            </div>


        </div>

        <a href="/home">
            <img id="logo-horizontal" src="/assets/BingeHiveHorizontalLogo.png" alt="logo">
        </a>

        <input id="search-bar" type="text" placeholder="Search...">

        <a id="nav-settings" href="/settings">
            <img id="user-pfp" src="/assets/default_user.png" alt="user profile picture">
        </a>

    </nav>

    <script src="/js/sandwichDropdown.js"></script>
</div>
